<!--Author: Edem Dumenu
Creation: 03-02-2017
Development Team: Edem Dumenu, Luke Clark, Sam Justice
Description: This activity displays the list of all sessions associated with the patient.
This gives the CT a chance to select a patient to view his or her statistics-->

<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../css/background3.css" rel="stylesheet" />
    <script src="../home/controller.js"></script>
    <script src="../home/controller2.js"></script>
</head>
<body ng-app="myApp2">

<header>
    <div ng-controller="patientName" text="text" ng-model="patient">
        <h4>Patient: {{patient}}</h4><br>
    </div>
</header>

<div class="list-group" ng-controller="sessionList">
    <h1 class="list-group-item active">
        Test List
    </h1>
    <!-- This prints out the list of all the sessions -->
    <a ng-repeat="patientList in patientLists" class="list-group-item list-group-item-action" href="statisticsPage.html">{{patientList.title}}</a>
</div>


</body>
</html>